apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          resources:
             requests: { cpu: "50m", memory: "64Mi" }
             limits:   { cpu: "100m", memory: "128Mi" }
          securityContext:
            runAsNonRoot: {{ .Values.security.runAsNonRoot }} # Lấy giá trị từ values
